<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aria Mehrpour Portfolio Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Cindy Sweetpea">
    <meta name="keywords" content="portfolio, toronto photographer,
      toronto film photography, toronto art direction">
    <title>ARIA MEHRPOUR PHOTOGRAPHY</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing2.css">
  </head>
  <body>
    <header>
      <a href="/" class="brand">aria mehrpour</a>
      <div class="nav-container">
        <a href="https://www.instagram.com/doloveli/" class="nav-link">instagram</a>
        <a href="https://youtu.be/5Cwj8mwKMkk" class="nav-link film-btn">film</a>
        <a href="/about" class="nav-link about__btn">about</a>
      </div>
    </header>
