<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Aria Mehrpour Portfolio Website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Cindy Sweetpea" />
    <meta
      name="keywords"
      content="portfolio, toronto photographer,
      toronto film photography, toronto art direction"
    />
    <title>ARIA MEHRPOUR PHOTOGRAPHY</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/landing2.css" />
  </head>
  <body>
    <header>
      <a href="/" class="brand">aria mehrpour photography</a>
      <div class="nav-container">
        <a href="/days-gone-by-toronto" class="nav-link project-btn">work</a>
        <a href="/about" class="nav-link">about</a>
        <a href="#contact" class="nav-link">contact</a>
      </div>
    </header>
  </body>
</html>
