<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Black|Harmattan"
      rel="stylesheet"
    />
    <title>ARIA MEHRPOUR PHOTOGRAPHY | About</title>
  </head>
  <body>
    <div class="about__container">
      <img
        class="about__selfie"
        src="assets/selfies/self-1.jpg"
        alt="image of the photographer, Aria Mehrpour. He has dark features and is stylish."
      />
      <div class="about__text_container">
        <p class="about__text">
          Aria Mehrpour is a self-taught photographer, film-maker and video
          content creator. His interests in music, fashion, counter culture, and
          film lend a unique way of interpreting the world. He has worked with
          several up and coming musicians in Toronto, Canada, such as
          <span class="about_text-highlight"
            >Ty Senoj, Goldchain, Sylo Nozra, Krinny, 30sidelouie, and Pfloog </span
          >. As a freelance multi-media artist, he is looking forward to new
          experiences and challenges. Check out the doloworld flash films on his
          <a class="about__link-clr" href="https://www.instagram.com/doloveli/"
            >Instagram</a
          >. The short-film written by and starring Aria can be found
          <a class="about__link-clr" href="https://youtu.be/5Cwj8mwKMkk">here</a
          >.
          <br />
          <br />
          <small
            >This website was made by
            <a href="https://raindrop.dev/">raindrop.</a></small
          >
        </p>
      </div>
      <nav>
        <div class="nav__container">
          <a class="nav__link" href="/">home</a>
          <a class="nav__link" id="projectsLink" href="/">all projects</a>
        </div>
        <div class="sub__nav">
          <a class="nav__link-sub" href="/under-many-moons">event shoots</a>
          <a class="nav__link-sub" href="/sleepless">sleepless</a>
          <a class="nav__link-sub" href="/portraits">portraits</a>
          <a class="nav__link-sub" href="/days-gone-by-toronto">days gone by</a>
        </div>
        <a class="nav__collapse">
          <h1>Menu</h1>
        </a>
      </nav>
    </div>
    <script src="/js/about.js"></script>
  </body>
</html>
