
<link rel="stylesheet" href="/stylesheets/about.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Harmattan" rel="stylesheet">
<div class="about_container">
  <a href="/"><button class="exit" type="button" name="button">exit</button></a>
  <img class="about_selfie" src="assets/selfies/self-1.jpg" alt="image of the photographer, Aria Mehrpour. He has dark features and is stylish.">
  <div class="about_text_container">
    <p class="about_text">
       commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    </p>
    <br>
  </div>
</div>
<% include partials/footer %>
