<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/carousel.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Harmattan" rel="stylesheet">
    <title>ARIA MEHRPOUR PHOTOGRAPHY | About </title>
  </head>
  <body>
    <div class="about__container">
      <img class="about__selfie" src="assets/selfies/self-1.jpg" alt="image of the photographer, Aria Mehrpour. He has dark features and is stylish.">
      <div class="about__text_container">
        <p class="about__text">
           Aria Mehrpour is a photographer based out of Toronto, Canada.
           He is a versatile multi-disciplinary artist whose interests in music,
           fashion, counter culture, and film lead him to a unique way of looking at
           the world. Check out his flash films on his <a href="https://www.instagram.com/doloveli/">Instagram</a>.
           This is his Spring 2019 portfolio.
        </p>
      </div>
      <button class="about__close">CLOSE</button>
      <!-- <nav>
        <h1 class="header">Branding Shoots</h1>
        <div class="nav__container">
          <a class="nav__link" href="/">home</a>
          <a class="nav__link" id="projectsLink" href="/">all projects</a>
          <a class="nav__link" href="/">get in touch</a>
          <a class="nav__link" href="/about">about me</a>
          <a class="nav__link" href="https://www.instagram.com/doloveli/"> instagram</a>
        </div>
        <div class="sub__nav">
          <a class="nav__link-sub" href="/under-many-moons">event shoots</a>
          <a class="nav__link-sub" href="/sleepless">sleepless</a>
          <a class="nav__link-sub" href="/portraits">portraits</a>
          <a class="nav__link-sub" href="/days-gone-by-toronto">days gone by</a>
        </div>
        <a class="nav__collapse">
          <h1>menu</h1>
        </a>
      </nav> -->
    </div>
    <script src="/js/about.js"></script>
  </body>
</html>
