<% include partials/header %>
<div class="success__container">
  <h1>
    thanks for getting in touch, <%= data.contact__name %>.
  </h1>
  <h3>
    I will get back to you via the email you just provided:
    <em><%= data.contact__email %></em>
  </h3>
  <br />
  <br />
  <br />
  <a href="/">back to homepage</a>
</div>
<% include partials/footer %>
