<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/landing2.css">
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

<section>
  <a href="/2018">
    <div class="a-18">
      <img src="assets/2018/2018-fw-9.jpg" alt="">
      <figcaption class="a-18">LA: Unusual As Always</figcaption>
    </div>
  </a>
  <a href="/2017">
    <div class="a-17">
      <img src="assets/banners/1.jpg" alt="">
      <figcaption class="a-17">No Rules In The UK</figcaption>
    </div>
  </a>
  <a href="/2016">
    <div class="a-16">
      <img src="assets/banners/11.jpg" alt="">
      <figcaption class="a-17">Moscow's Nevsky Prospect</figcaption>
    </div>
  </a>
  <a href="/2016">
    <div class="a-15">
      <img src="assets/2018/2018-fw-10.jpg" alt="">
      <figcaption class="a-17">Moscow's Nevsky Prospect</figcaption>
    </div>
  </a>
  <a href="/2016">
    <div class="a-14">
      <img src="assets/2017/2017-2-11.jpg" alt="">
      <figcaption class="a-17">Moscow's Nevsky Prospect</figcaption>
    </div>
  </a>
  <a href="/2016">
    <div class="a-13">
      <img src="assets/2017/2017-2-4.jpg" alt="">
      <figcaption class="a-17">Moscow's Nevsky Prospect</figcaption>
    </div>
  </a>
  <a href="/2016">
    <div class="a-12">
      <img src="assets/2016/2016-14.jpg" alt="">
      <figcaption class="a-17">Moscow's Nevsky Prospect</figcaption>
    </div>
  </a>
  <a href="/2016">
    <div class="a-11">
      <img src="assets/2017/2017-13.jpg" alt="">
      <figcaption class="a-17">Moscow's Nevsky Prospect</figcaption>
    </div>
  </a>
</section>
<section>
  <div class="btm-panel">
    <p>
      Feel free to
      <a href="#">Email Me</a>
      <br>
      <br>
      Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
      <br>
      <br>
      Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
    </p>
  </div>
</section>

<% include partials/footer %>
