<% include partials/header %>
<link
  href="https://fonts.googleapis.com/css?family=Work+Sans"
  rel="stylesheet"
/>

<!-- **** loader  ****  -->
<div class="loader">
  <img src="assets/selfies/self-load.jpg" alt="" />
  <h3>aria mehrpour photography</h3>
</div>

<!-- **** image waterfall ****  -->
<section>
  <a class="fade__target" href="/under-many-moons">
    <div class="i a-18">
      <img src="assets/event/event11.jpg" />
    </div>
  </a>
  <a class="fade__target" href="/portraits">
    <div class="i a-17">
      <img src="assets/portraits/portrait1.jpg" alt="" />
    </div>
  </a>
  <a class="fade__target" href="/days-gone-by-toronto">
    <div class="i a-16">
      <img src="assets/home/home6.jpg" alt="" />
    </div>
  </a>
  <a href="/under-many-moons">
    <div class="i a-15">
      <img src="assets/event/event12.jpg" alt="" />
    </div>
  </a>
  <a href="/portraits">
    <div class="i a-14">
      <img src="assets/portraits/portrait3.jpg" alt="" />
    </div>
  </a>
  <a href="/portraits">
    <div class="i a-13">
      <img src="assets/portraits/portrait8.jpg" alt="" />
    </div>
  </a>
  <a href="/branding-shoots">
    <div class="i a-12">
      <img src="assets/jewelry/jewel4.jpg" alt="" />
    </div>
  </a>
  <a href="/days-gone-by-toronto">
    <div class="i a-11">
      <img src="assets/home/home4.jpg" alt="" />
    </div>
  </a>
</section>
<div class="btm-panel">
  <div class="col__project">
    <h3>Project List:</h3>
    <br />
    <a href="/portraits">01: Portraits</a>
    <br />
    <br />
    <a href="/portraits">02: Branding Shoots</a>
    <br />
    <br />
    <a href="/portraits">03: Days Gone By: Toronto</a>
    <br />
    <br />
    <a href="/portraits">04: Event Photos: Under Many Moons</a>
    <br />
    <br />
    <a href="/portraits">05: Sleepless, from the archives</a>
  </div>
  <div id="contact" class="col__contact">
    <p>
      Like what you see? Reach out to me on
      <a href="https://www.instagram.com/doloveli/">Instagram</a>, or fill in
      the form below.
    </p>
    <form class="contact__form" action="/contact" method="POST">
      <label for="contact__name">Name: </label>
      <input type="text" name="contact__name" value="" />
      <br />
      <label for="contact__email">Email: </label>
      <input type="text" name="contact__email" value="" />
      <br />
      <textarea
        name="contact__body"
        rows="8"
        cols="80"
        placeholder="Tell me about our next collaboration here"
      ></textarea>
      <br />
      <button class="contact__submit" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
<script type="text/javascript">
  window.addEventListener("load", function() {
    const loader = document.querySelector(".loader");
    setTimeout(() => {
      loader.parentElement.removeChild(loader);
    }, 1200);
  });
</script>

<% include partials/footer %>
