<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

<!-- **** image waterfall ****  -->

<section>
  <a href="/2018">
    <div class="i a-18">
      <img src="assets/2018/2018-fw-9.jpg" alt="">
    </div>
  </a>
  <a href="/2017">
    <div class="i a-17">
      <img src="assets/banners/1.jpg" alt="">
    </div>
  </a>
  <a href="/2016">
    <div class="i a-16">
      <img src="assets/banners/11.jpg" alt="">
    </div>
  </a>
  <a href="/2016">
    <div class="i a-15">
      <img src="assets/2018/2018-fw-10.jpg" alt="">
    </div>
  </a>
  <a href="/2016">
    <div class="i a-14">
      <img src="assets/2017/2017-2-11.jpg" alt="">
    </div>
  </a>
  <a href="/2016">
    <div class="i a-13">
      <img src="assets/2017/2017-2-4.jpg" alt="">
    </div>
  </a>
  <a href="/2016">
    <div class="i a-12">
      <img src="assets/2016/2016-14.jpg" alt="">
    </div>
  </a>
  <a href="/2016">
    <div class="i a-11">
      <img src="assets/2017/2017-13.jpg" alt="">
    </div>
  </a>
</section>
<div class="btm-panel">
    <p>
      Feel free to
      <a href="#">Email Me</a>
      <br>
      <br>
      Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
      <br>
      <br>
      Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
    </p>
</div>



<% include partials/footer %>
