body {
  font-family: "Harmattan", sans-serif;
  opacity: 80%;
  background: black;
  padding-bottom: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.about__container {
  display: flex;
  justify-content: center;
  z-index: 3;
  animation: fade-in 0.7s ease-out;
  width: 100vw;
  height: 100vh;
}

.about__selfie {
  position: absolute;
  top: 5%;
  margin: 0 auto;
  width: 30vw;
  object-fit: cover;
}

.about__text-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  top: 50%;
  z-index: 10;
  width: 50vw;
  height: auto;
}

.about__text {
  position: absolute;
  padding: 1rem 1rem;
  bottom: 0;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 2.9px;
  color: #FFF99B;
  background: black;

}

a {
  color: white;
  text-decoration: none;
}
.about__close {
  padding: 0.5rem 0.9rem;
  position: absolute;
  background: transparent;
  top: 79%;
  left: 20%;
  cursor: pointer;
  letter-spacing: 2.9px;
  font-size: 1rem;
  color: white;
}

.about__close:hover {
  color: #FFF99B;
  background: black;
  transition: 0.4s ease-in-out;
}

.is-open {
  display: block;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
  }
  .about__selfie {
    width: auto;
    height: 60vh;
    margin: 0 auto;
    align-self: center;
  }
  .about__text-container{
    width: 80vw;
    position: fixed;
    top: 40%;
    z-index: 6;
  }
  .about__text {
    font-size: 1.25rem;
  }
  .about__close {
    top: 10%;
    left: 2%;
    transform: rotate(-90deg);
  }

}
