body {
  box-sizing: border-box;
  font-family: 'Harmattan', sans-serif;
  display: flex;
}
.nav__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-right: 3rem;
}

.nav__link {
  text-indent: 11.5px;
  padding: 0.7rem 1.7rem;
  margin: 0 auto;
  background-color: black;
  width: 40px;
  border: 3px solid white;
}

.nav__href {
  padding-right: 10px;
  letter-spacing: 2px;
  line-height: 21px;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;

}

.nav__link:hover {
  background-color: yellow;
  text-indent: 0;

}
.nav__link:hover .nav__href{
  color: black;
}

.strike {
  text-decoration: underline;
}

img {
  height: auto;
  width: 270px;
  transform: rotate(-9deg);
  padding: 2rem 4rem;
}

img:hover {
  /* transform: rotate(-10deg); */
  transform: scale(1.3);
  transition: 0.3s ease-out;
}
