body {
   font-family: 'Harmattan', sans-serif;
   box-sizing: border-box;
}

nav {
  max-width: 25%;
}

.header {
  background: none;
  font-family: 'Arial';
  width: 20%;
  font-size: 2.5rem;
  z-index: 150;
  color: black;
  position: fixed;
  padding: 0 1rem;
  text-align: center;
}

.nav__collapse {
  position: absolute;
  margin: 0 auto;
  width: 10%;
  z-index: 400;
  bottom: 4%;
  left: 8%;
  color: red;
  font-size: 1.2rem;
  padding: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
}

.nav__collapse:hover {
  color: #FFE4E4;
  transition: all 0.4s;
}

.nav__container {
  display: none;
  position: fixed;
  margin-top: 24%;
  z-index: 550;
  padding: 0.4rem;
  width: 25%;
}

.nav__link, .nav__link-sub {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  opacity: 0.8;
  text-align: center;
  height: 40px;
  width: 100%;
  text-decoration: none;

}

.nav__link {
  background-color: yellow;
  color: black;
}
.nav__link:hover {
  background-color: black;
  color: white;
  transition: all 0.4s;
}


.sub__nav {
  display: none;
  position: fixed;
  top: 40%;
  left: 20%;
  z-index: 650;
  padding: 0.4rem;
  width: 20%;
}

.nav__link-sub {
  background-color: #5EFFEF;
  color: black;

}

.nav__link-sub:hover {
  background-color: #DD40FE;
  color: white;
  transition: all 0.4s;
}
a {
  text-decoration: none;
}

.is-open {
  display: block;
}
.carousel {
  position: relative;
  height: 90vh;
  width: 70vw;
  margin: 0 auto;
  padding-left: 8%;
  margin-right: 0;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow:hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.25s ease-out;
}

.carousel__slide {
  position: absolute;
  top: 0; bottom: 0;
  width: 100%;
  height: auto;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel__button {
  position: absolute;
  top: 0%;
  width: 50%;
  height: 100%;
  opacity: 0;
  border: 0;
  z-index: 10;
  cursor: pointer;
  outline: none;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 70px;
  padding: 3px 0;
}
