body {
  font-family: "Harmattan", sans-serif;
  box-sizing: border-box;
}

.header {
  background: none;
  font-family: "Arial";
  width: 26vw;
  font-size: 2.5rem;
  z-index: 150;
  color: black;
  position: fixed;
  top: 5%;
  padding-left: 0.8rem;
  text-align: center;
}

.img_counter {
  font-family: "Harmattan", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  top: 90vh;
  left: 53.5%;
  z-index: 400;
}

.nav__collapse {
  font-family: "Harmattan", sans-serif;
  position: absolute;
  margin: 0 auto;
  width: 10%;
  z-index: 400;
  bottom: 6.5%;
  left: 8.5%;
  color: black;
  font-size: 1.2rem;
  padding: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
}

.nav__collapse:hover {
  background: #5effef;
  color: black;
}

.nav__container {
  display: none;
  position: fixed;
  margin-top: 32%;
  z-index: 550;
  padding: 0.4rem;
  bottom: 23%;
  left: 3.5%;
  width: 25%;
}

.nav__link,
.nav__link-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  opacity: 0.8;
  text-align: center;
  height: 40px;
  width: 80%;
  text-decoration: none;
}

.nav__link {
  background-color: yellow;
  color: black;
}
.nav__link:hover {
  background-color: black;
  color: white;
  transition: all 0.4s;
}

.is-selected {
  background: black;
  color: white;
}

.sub__nav {
  display: none;
  position: fixed;
  top: 40%;
  left: 20%;
  z-index: 650;
  padding: 0.4rem;
  width: 20%;
}

.nav__link-sub {
  background-color: #5effef;
  color: black;
}

.nav__link-sub:hover {
  background-color: #dd40fe;
  color: white;
  transition: all 0.4s;
}

a {
  text-decoration: none;
}

.is-open {
  display: block;
}
.carousel {
  position: relative;
  height: 90vh;
  width: 70vw;
  margin: 0 auto;
  padding-left: 8%;
  margin-right: 0;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* swipe function */
  --n: 1;
  width: calc(var(--n) * 100%);
  transform: translate(calc(var(--i) / var(--n) * 100% + var(--tx, 0px)));
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.25s ease-out;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.smooth {
  transition: transform 0.33s ease-out;
}

.carousel__button {
  position: absolute;
  top: 0%;
  width: 50%;
  height: 100%;
  opacity: 0;
  border: 0;
  z-index: 10;
  cursor: pointer;
  outline: none;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}
.next_arrow {
  position: fixed;
  bottom: 10%;
  right: 25px;
  width: 4%;
  background-color: yellow;
  opacity: 0.85;
  padding: 3.5px;
  z-index: 5;
  cursor: pointer;
}

.isHidden {
  display: none;
}

@media only screen and (max-width: 565px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    width: 90vw;
  }
  nav > .header {
    width: 90vw;
    font-size: 1.8rem;
    text-align: left;
    position: absolute;
    top: 12%;
    left: 3%;
  }
  nav > .nav__collapse {
    font-family: "Arial", sans-serif;
    color: lightgrey;
    font-weight: 200;
    font-size: 1rem;
    margin: 2% 0 0 2%;
    width: 5%;
    z-index: 400;
    position: fixed;
    top: 13%;
    left: 85vw;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }
  div > .img_counter {
    font-size: 1.5rem;
    color: black;
    top: 84vh;
    text-align: center;
    left: 9%;
  }
  body > div.carousel {
    position: relative;
    height: 100vh;
    width: 95vw;
    margin: 0 auto;
    padding-left: 0;
  }
  body > nav > .nav__container {
    width: 100%;
  }
  nav > .sub__nav {
    top: 70vh;
    left: 3%;
    z-index: 650;
    padding: 0;
    width: 100%;
  }
  nav > .nav__link,
  nav > .nav__link-sub {
    line-height: 60px;
    height: 60px;
    width: 100%;
  }
  .next_arrow {
    position: absolute;
    top: 82.5vh;
    left: 79vw;
    height: 2.5rem;
    width: 15%;
    background-color: yellow;
    cursor: pointer;
  }
}

@media only screen and (min-width: 566px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .header {
    top: 6vh;
    left: 5%;
    margin: 0 auto;
    text-align: center;
    width: 75vw;
  }

  .next_arrow {
    top: 84vh;
    left: 91%;
    height: 2.5rem;
    width: 5%;
  }
  .nav__collapse {
    top: 55%;
    left: 0%;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    width: 10%;
    height: 10%;
  }
  div.carousel {
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 10% 0 0 6%;
    padding-left: 0;
  }
  .nav__container {
    top: 0;
    left: 10%;
    width: 50%;
  }
  nav > .sub__nav {
    top: 45%;
    padding: 0;
    left: 50%;
    width: 50%;
    font-size: 1.5rem;
  }
  nav > .nav__link,
  nav > .nav__link-sub {
    line-height: 130px;
    height: 130px;
    width: 100%;
    font-size: 32px;
  }
  .img_counter {
    top: -10%;
    text-align: center;
    left: 94%;
  }
}
