/* global */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body, header, .brand, section {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  font-family: "Inconsolata";
  font-weight: lighter;
  letter-spacing: 1.3px;
}

a {
  text-decoration: none;
}

header .brand {
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

header .nav-link {
  padding: 10px;
  background-color: black;
  color: #fff;
}

.nav-container {
  margin: 0 auto;
  padding-bottom: 5%;
}

/* photo flow mobile */
@media all and (max-width: 760px){
  header .brand {
    font-size: 30px;
    margin-top: 9%;
    margin-bottom: 11%;
  }
  header .nav-link {
    font-size: 19px;
  }
  a .i {
    margin: 1.1rem 0;
    width: 100vw;
    transform: rotate(-8deg);
  }

  .i img {
    padding-left: 2rem;
    width: 85%;
    transition: all 0.3s ease-out;
  }

   .i img:hover {
    transform: translate(3%)
  }

  .a-18 {
    padding-top: 5rem;
  }
  .btm-panel {
    position: sticky;
    top: 99%;
    bottom: 0%;
    margin-top: 4rem;
  }
}

.btm-panel {
  width: 100%;
  background-color: black;
  padding: 2rem 2rem;
}

.btm-panel p {
  font-family: "Inconsolata", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.btm-panel a {
  text-decoration: none;
  color: yellow;
}

@media all and (min-width: 768px){

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 70%;
}

header .brand {
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 9%;
}

header .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 80%;
}

header .nav-link {
  margin-right: 7%;
}
header .nav-link:hover {
  background-color: yellow;
  color: #000;
  transition: 0.3s ease-in-out;
}

/* photo flow */

div img {
  z-index: 1;
  position: absolute;
  width: 550px;
  transition: 0.3s ease-in-out;
  filter: grayscale(100%);
  transform: rotate(0deg);

}

img:hover {
  filter: none;
  transform: translateY(10px);
  z-index: 500;
}

.a-18 img {
  left: 8%;
  top: 23%;
  z-index: 4;
}

.a-17 img {
  top: 80%;
  left: 25%;
}

.a-16 img {
  bottom: 18%;
  right: 10%;
}

.a-15 img {
  top: 600px;
  right: 6.5%;
  width: auto;
  height: 500px;
}

.a-14 img {
  left: 6%;
  top: 860px;
}

.a-13 img {
  top: 1000px;
  left: 44%;
}

.a-12 img {
  top: 1270px;
  left: 7%;
}

.a-11 img {
  top: 1420px;
  right: 7%;
}
.btm-panel {
  position: absolute;
  top: 117rem;
}
}
