<% include ../partials/header %>

<div class="crumb-container">
  <div class="bread-link">
    <a href="/2015">archive 2015</a>
  </div>
  <div class="bread-link">
    <a href="/2016">archive 2016</a>
  </div>
  <div class="bread-link breadcrumbs">
    <a href="/2017">archive 2017</a>
  </div>
  <div class="bread-link">
    <a href="/2018">archive 2018</a>
  </div>
</div>

  <div class="container">
 <%  const images = [
      {img: '/assets/2017/2017-1.jpg'},
      {img: '/assets/2017/2017-2.jpg'},
      {img: '/assets/2017/2017-3.jpg'},
      {img: '/assets/2017/2017-4.jpg'},
      {img: '/assets/2017/2017-5.jpg'},
      {img: '/assets/2017/2017-6.jpg'},
      {img: '/assets/2017/2017-7.jpg'},
      {img: '/assets/2017/2017-8.jpg'},
      {img: '/assets/2017/2017-9.jpg'},
      {img: '/assets/2017/2017-10.jpg'},
      {img: '/assets/2017/2017-11.jpg'},
      {img: '/assets/2017/2017-12.jpg'},
      {img: '/assets/2017/2017-13.jpg'},
      {img: '/assets/2017/2017-14.jpg'},
      {img: '/assets/2017/2017-15.jpg'},
      {img: '/assets/2017/2017-16.jpg'},
      {img: '/assets/2017/2017-17.jpg'},
      {img: '/assets/2017/2017-18.jpg'},
      {img: '/assets/2017/2017-19.jpg'},
      {img: '/assets/2017/2017-20.jpg'},
      {img: '/assets/2017/2017-21.jpg'},
      {img: '/assets/2017/2017-22.jpg'},
      {img: '/assets/2017/2017-23.jpg'},
      {img: '/assets/2017/2017-24.jpg'},
      {img: '/assets/2017/2017-2-2.jpg'},
      {img: '/assets/2017/2017-2-3.jpg'},
      {img: '/assets/2017/2017-2-4.jpg'},
      {img: '/assets/2017/2017-2-5.jpg'},
      {img: '/assets/2017/2017-2-6.jpg'},
      {img: '/assets/2017/2017-2-7.jpg'},
      {img: '/assets/2017/2017-2-8.jpg'},
      {img: '/assets/2017/2017-2-9.jpg'},
      {img: '/assets/2017/2017-2-10.jpg'},
      {img: '/assets/2017/2017-2-11.jpg'},
      {img: '/assets/2017/2017-2-12.jpg'},
      {img: '/assets/2017/2017-2-13.jpg'}

    ] %>
    <% for (var i = 0; i < images.length; i++) {%>
      <img src="<%=images[i].img%>">
    <% } %>
  </div>

<% include ../partials/footer %>
