<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>2015 archive</title>
    <link rel="stylesheet" href="/stylesheets/carousel.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Harmattan" rel="stylesheet">
  </head>
  <body>
    <div class="nav__container">
      <div class="nav__link">
        <a class="nav__href" href="/2015">archive 2015</a>
      </div>
      <div class="nav__link strike">
        <a class="nav__href" href="/2016">archive 2016</a>
      </div>
      <div class="nav__link">
        <a class="nav__href" href="/2017">archive 2017</a>
      </div>
      <div class="nav__link">
        <a class="nav__href" href="/2018">archive 2018</a>
      </div>
    </div>
    <div class="carousel">
      <button class="carousel__button carousel__button--left" name="button">
        <img src="assets/icons/left-chevron.png" alt="">
      </button>
      <div class="carousel__track-container">
          <ul class="carousel__track">
            <% const images = [
              {img: '/assets/2016/2016-1.jpg'},
              {img: '/assets/2016/2016-2.jpg'},
              {img: '/assets/2016/2016-3.jpg'},
              {img: '/assets/2016/2016-4.jpg'},
              {img: '/assets/2016/2016-5.jpg'},
              {img: '/assets/2016/2016-6.jpg'},
              {img: '/assets/2016/2016-7.jpg'},
              {img: '/assets/2016/2016-8.jpg'},
              {img: '/assets/2016/2016-9.jpg'},
              {img: '/assets/2016/2016-10.jpg'},
              {img: '/assets/2016/2016-12.jpg'},
              {img: '/assets/2016/2016-13.jpg'},
              {img: '/assets/2016/2016-14.jpg'},
              {img: '/assets/2016/2016-15.jpg'},
              {img: '/assets/2016/2016-16.jpg'},
              {img: '/assets/2016/2016-17.jpg'}
            ] %>
          <% for (var i = 0; i < images.length; i++) {%>
            <li class="carousel__slide">
              <img class="carousel__img" src="<%=images[i].img%>">
            </li>
          <% } %>
        </ul>
      </div>
      <button class="carousel__button carousel__button--right" name="button">
        <img src="assets/icons/right-chevron.png" alt="">
      </button>
    </div>
    <script type="text/javascript" src="js/carousel.js"></script>
  </body>
</html>
