<% include ../partials/header %>
<div class="crumb-container">
  <div class="bread-link">
    <a href="/2015">archive 2015</a>
  </div>
  <div class="bread-link">
    <a href="/2016">archive 2016</a>
  </div>
  <div class="bread-link">
    <a href="/2017">archive 2017</a>
  </div>
  <div class="bread-link breadcrumbs">
    <a href="/2018">archive 2018</a>
  </div>
</div>
  <div class="container">
 <%  const images = [
 {img: '/assets/2018/2018-1.jpg'},
 {img: '/assets/2018/2018-2.jpg'},
 {img: '/assets/2018/2018-fw-1.jpg'},
 {img: '/assets/2018/2018-4.jpg'},
 {img: '/assets/2018/2018-fw-2.jpg'},
 {img: '/assets/2018/2018-6.jpg'},
 {img: '/assets/2018/2018-7.jpg'},
 {img: '/assets/2018/2018-8.jpg'},
 {img: '/assets/2018/2018-9.jpg'},
 {img: '/assets/2018/2018-10.jpg'},
 {img: '/assets/2018/2018-fw-3.jpg'},
 {img: '/assets/2018/2018-fw-4.jpg'},
 {img: '/assets/2018/2018-fw-5.jpg'},
 {img: '/assets/2018/2018-fw-6.jpg'},
 {img: '/assets/2018/2018-fw-7.jpg'},
 {img: '/assets/2018/2018-fw-8.jpg'},
 {img: '/assets/2018/2018-fw-9.jpg'},
 {img: '/assets/2018/2018-fw-10.jpg'},
 {img: '/assets/2018/2018-fw-11.jpg'},
 {img: '/assets/2018/2018-fw-12.jpg'},
 {img: '/assets/2018/2018-fw-13.jpg'},
 {img: '/assets/2018/2018-fw-14.jpg'},
 {img: '/assets/2018/2018-fw-15.jpg'},
 {img: '/assets/2018/2018-fw-16.jpg'},
 {img: '/assets/2018/2018-fw-17.jpg'},
 {img: '/assets/2018/2018-fw-19.jpg'},
 {img: '/assets/2018/2018-fw-20.jpg'},
 {img: '/assets/2018/2018-fw-21.jpg'},
 {img: '/assets/2018/2018-fw-22.jpg'},
 {img: '/assets/2018/2018-fw-23.jpg'},
 {img: '/assets/2018/2018-fw-24.jpg'},
 {img: '/assets/2018/2018-fw-25.jpg'},
 {img: '/assets/2018/2018-fw-26.jpg'},
 {img: '/assets/2018/2018-fw-27.jpg'}
 ] %>

 <% for (var i = 0; i < images.length; i++) {%>
    <img src="<%=images[i].img%>">
 <% } %>
</div>

<% include ../partials/footer %>
