<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Branding Shoots by Aria Mehrpour</title>
    <link rel="stylesheet" href="/stylesheets/carousel.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Black|Harmattan"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <h1 class="header">Branding Shoots</h1>
      <div class="nav__container">
        <a class="nav__link" href="/">home</a>
        <a class="nav__link" id="projectsLink" href="#">projects</a>
        <a class="nav__link" href="/">get in touch</a>
        <a class="nav__link" href="/about">about me</a>
        <a class="nav__link" href="https://www.instagram.com/doloveli/">
          instagram</a
        >
      </div>
      <div class="sub__nav">
        <a class="nav__link-sub" href="/under-many-moons">event shoots</a>
        <a class="nav__link-sub" href="/sleepless">sleepless</a>
        <a class="nav__link-sub" href="/portraits">portraits</a>
        <a class="nav__link-sub" href="/days-gone-by-toronto">days gone by</a>
      </div>
      <a class="nav__collapse">
        <h1>menu</h1>
      </a>
    </nav>

    <div class="carousel">
      <button
        class="carousel__button carousel__button--left"
        name="button"
      ></button>
      <div class="carousel__track-container">
        <ul class="carousel__track">
          <% const images = [ {img: '/assets/jewelry/jewel1.jpg'}, {img:
          '/assets/jewelry/jewel2.jpg'}, {img: '/assets/jewelry/jewel3.jpg'},
          {img: '/assets/jewelry/jewel4.jpg'} ] %> <% for (var i = 0; i <
          images.length; i++) {%>
          <li class="carousel__slide">
            <img class="carousel__img" src="<%=images[i].img%>" />
          </li>
          <% } %>
        </ul>
      </div>
      <div class="img_counter">1/<%=images.length%></div>
      <button
        class="carousel__button carousel__button--right"
        name="button"
      ></button>
      <img class="next_arrow" src="assets/cursor/nextarrow.svg" alt="" />
    </div>
    <script type="text/javascript" src="js/carousel.js"></script>
  </body>
</html>
